@use 'sass:color';

html {
  margin: 0;
  padding: 0;
  font-family: 'Google Sans Text', 'Roboto', ui-sans, sans-serif;
  color: rgb(54, 54, 54);
}

body {
  margin: 0;

  display: flex;
  flex-direction: column;
  height: 100vh;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

a, button {
  text-decoration: none;
}

a {
  color: #0468d7;
  border-radius: 0.375rem;

  &:hover {
    color: #03448c;
    text-decoration: underline;
  }

  &:focus {
    // TODO(parlough): Focus circle?
  }
}

* {
  box-sizing: border-box;
  border-width: 0;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre, ol, ul {
  margin: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

.material-symbols, .material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;

  font-variation-settings:
          'FILL' 0,
          'wght' 500,
          'GRAD' 0,
          'opsz' 48
}

.material-symbols, .material-symbols-outlined.ms-filled {
  font-variation-settings: 'FILL' 1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Google Sans', 'Roboto', ui-sans, sans-serif;
  font-weight: 400;
}

p, pre, aside {
  margin-bottom: 1rem;
}

pre, code {
  font-family: 'Google Sans Mono', ui-monospace, monospace;
}

*:not(pre) > code {
  font-size: 0.875em;
  line-height: 1.25em;
  padding: 0.0625rem 0.25rem;
  background-color: rgb(241 243 244 / 0.4);

  border: 1px solid rgb(54 54 54 / 0.1);
  border-radius: 0.25rem;
  color: #11796d;
}

*:focus-visible {
  outline: none;
}

#sidenav {
  max-height: calc(100vh - 80px - 4rem);
}

#site-header {
  display: grid;
  grid-template-columns:
          minmax(max-content, 1fr)
          minmax(max-content, 3fr)
          minmax(max-content, 1fr);
  background-color: rgb(248 249 250);
  column-gap: 1rem;
  align-items: center;
  min-height: 4rem;
  max-height: 5rem;
  top: 0;
  position: sticky;
  z-index: 10;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

#header-leading {
  display: flex;
  flex-direction: row;
  justify-self: start;
  align-items: center;
  user-select: none;

  font-variant-ligatures: none;
  color: rgb(54, 54, 54);
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-family: 'Google Sans', ui-sans, sans-serif;

  .flutter-logo > span {
    @media(max-width: 768px) {
      display: none;
    }
  }
}

.flutter-logo {
  padding: 0.25rem;
  border-radius: 0.375rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  cursor: pointer;

  font-variant-ligatures: none;
  color: rgb(54, 54, 54);
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-family: 'Google Sans', ui-sans, sans-serif;

  > img {
    height: 2.5rem;
    margin-right: 0.75rem;
  }
}

#docs-button {
  padding: 0.25rem;
  border-radius: 0.375rem;
}

#menu-button {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 4rem;
  height: 100%;

  > button {
    padding: 0.5rem;
  }
}

#header-trailing {
  justify-self: end;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;

  margin-left: 1rem;
  margin-right: 1rem;

  #open-search {
    @media(min-width: 577px) {
      display: none;
    }
  }
}

#header-center {
  display: block;
  justify-self: center;
  max-width: 36rem;
  width: 100%;

  .header-button > span {
    font-size: 1.5rem;
  }

  search {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 2.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 0.75rem;
    padding: 0.5rem;

    background-color: rgb(241 243 244);
    color: rgb(54, 54, 54);

    input {
      caret-color: #027DFD;
      padding: 0.5rem;
      background: none;
      text-overflow: ellipsis;
      width: 100%;
      overscroll-behavior: contain;
    }

    @media(max-width: 576px) {
      display: none;
    }
  }
}

.header-button {
  color: rgb(54, 54, 54);
  border-radius: 0.375rem;

  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  background: none;

  > span {
    font-size: 1.75rem;
  }

  &:hover {
    color: #0468d7;
  }

  &:focus {

  }

  &:active {
    color: #03448c;
  }
}

#site-below-header {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 100%;

  background-color: rgb(248 249 250);
  overflow-y: auto;
}

#site-banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem;
  text-align: center;
  background-color: rgb(184 234 254);

  p {
    overflow-wrap: anywhere;
    color: rgb(54, 54, 54);
    word-break: normal;
    margin: 0;
  }
}

#site-primary {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin: 1rem;
  max-width: 64rem;

  background-color: rgb(255 255 255);
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);

  @media(max-width: 576px) {
    margin: 0 0 1rem;
    border-radius: 0;
  }
}

#site-content {
  overflow-x: hidden;

  p, li, span {
    line-height: 1.5rem;
  }

  ol, ul {
    margin-bottom: 1rem;
    padding-left: 2rem;
  }

  > * {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .header-wrapper {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;

    .heading-link {
      margin-left: .4rem;
      line-height: 1;
      transition: all .15s ease-in-out;
      overflow: hidden;
      color: #4a4a4a;
      opacity: 0;
      text-decoration: none;
    }

    &:hover .heading-link {
      opacity: 1;
    }

    h2 {
      font-size: 2.25rem;
      text-wrap: balance;

      & + .heading-link {
        font-size: 1.75rem;
      }
    }

    h3 {
      font-size: 1.875rem;

      & + .heading-link {
        font-size: 1.375rem;
      }
    }

    h4 {
      font-size: 1.5rem;

      & + .heading-link {
        font-size: 1.25rem;
      }
    }

    h5 {
      font-size: 1.25rem;

      & + .heading-link {
        font-size: 1rem;
      }
    }
  }

  nav.breadcrumbs {
    align-items: center;
    margin-bottom: 1rem;
  }

  ol.breadcrumb-list {
    align-items: center;
    list-style: none;

    font-family: 'Google Sans', 'Roboto', ui-sans, sans-serif;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 0;

    li.breadcrumb-item {
      display: flex;
      flex-direction: row;
      align-items: center;

      & a {
        padding: 0.125rem;
        border-radius: 0.125rem;
        text-decoration: inherit;
      }

      &.active a {
        color: #6c757d;
        cursor: default;
      }
    }

    .child-icon {
      user-select: none;
    }
  }
}

#site-footer {
  position: relative;
  max-width: 64rem;
  background-color: rgb(255 255 255);
  padding: 1rem;
  border-radius: 0.375rem;
  margin: 0 1rem 1rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  font-size: 14px;

  > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    width: 100%;

    @media(max-width: 768px) {
      flex-direction: column;
      text-align: center;
    }
  }

  .footer-main {
    margin-bottom: 1rem;
    align-items: center;
  }

  .footer-tray {
    border-top: 1px solid rgb(190, 190, 190, 0.5);
    padding-top: 1.25rem;
    width: 100%;

    .footer-licenses {
      width: 70%;

      @media(max-width: 768px) {
        width: 100%;
      }
    }

    a {
      color: rgb(54, 54, 54);

      &:hover {
        color: #0468d7;
      }
    }
  }

  .footer-social-links {
    a {
      &:not(:first-child) {
        margin-left: 1rem;
      }

      svg {
        height: 2rem;
        width: 2rem;
      }

      color: rgb(54, 54, 54);

      &:hover {
        color: #0468d7;
        text-decoration: none;
      }

      &:focus {

      }

      &:active {
        color: #03448c;
      }
    }

    @media(max-width: 768px) {
      margin-top: 1rem;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline;
      margin-left: 1rem;
    }

    @media(max-width: 768px) {
      margin-top: .75rem;

      li:first-child {
        margin-left: 0;
      }
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

h2, h3, h4, h5, h6 {
  scroll-margin-top: 1rem;
  max-width: 90%;
}

h1 {
  font-size: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-wrap: balance;
}


aside.alert {
  padding: 1.125rem;

  //@media(max-width: 576px) {
  //  margin-left: 0;
  //  margin-right: 0;
  //}

  .alert-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-family: "Google Sans", "Roboto", ui-sans, sans-serif;
    font-size: 1.125rem;
    font-weight: 500;

    .material-symbols {
      font-size: 1.25em;
      user-select: none;
    }
  }

  .alert-content {
    margin-top: 0.5rem;
  }

  p:last-child {
    margin-bottom: 0;
  }

  &.alert-info {
    background-color: #e7f8ff;
  }

  &.alert-secondary {
    background-color: #e8eaed;
  }
}

pre {
  overflow: auto;
  margin-bottom: 1rem;
  font-size: 0.9125rem;
  font-weight: 400;
  padding: 1.25rem;

  a {
    font-family: inherit;
    font-weight: inherit;
  }

  .highlight {
    background: #FFF59C;
    padding: 0.1em;
  }

  .highlight-diagnostics & {
    .highlight {
      border-bottom: 2px #E64637 dashed;
      background: inherit;
      padding: 0;
    }
  }

  &:focus {
    outline: none;
  }

  span.line {
    display: inline-block;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    min-width: 100%;
    border-left: 2px solid transparent;

    &.highlighted-line {
      background: color.change(#0468D7, $alpha: 0.05);
      border-left-color: #0468D7;
    }
  }

  &.show-line-numbers code {
    span.line {
      padding-left: 0.5rem;

      &[data-line]::before {
        display: inline-block;
        content: attr(data-line) "";
        width: 2em;
        margin-right: 0.5rem;
        text-align: right;
        color: #8d9399;
      }
    }
  }
}

.code-copy-button {
  position: absolute;
  top: 6px;
  right: 6px;
  z-index: 10;

  width: 2rem;
  height: 2rem;
  padding: 0;

  font: 24px/1 'Material Symbols Outlined';

  appearance: none;
  border: none;
  color: #6E7274;
  background: none;
  opacity: 0;
  transition: opacity 0.4s;

  &:hover, &:focus {
    color: #0468D7;
    opacity: 1;
  }

  &:active {
    color: #043875;
  }
}

.code-block-language {
  font-family: 'Google Sans Mono', 'Roboto Mono', monospace;
  user-select: none;
  font-size: 0.8125rem;
  color: #6E7274;
  opacity: 1;
  transition: opacity 0.25s;

  position: absolute;
  top: 3px;
  right: 6px;
  z-index: 5;

  .highlight-languages .language-dart & {
    color: #0468D7;
  }

  .highlight-languages .language-js & {
    color: #f1a85a;
  }

  .highlight-languages .language-swift & {
    color: #f05137;
  }

  .highlight-languages :not(.has-tag) & {
    font-size: 0.875rem;
    left: 6px;
    right: unset;
  }
}

.code-block-tag {
  font-family: 'Google Sans Mono', 'Roboto Mono', monospace;
  font-size: 0.8125rem;
  font-weight: 500;
  position: absolute;
  top: 3px;
  left: 6px;

  .tag-good &, .tag-passes-sa &, .tag-runtime-success & {
    color: #155723;
  }

  .tag-bad &, .tag-fails-sa &, .tag-runtime-fail & {
    color: #cb1425;
  }
}

.code-block-wrapper {
  margin-bottom: 1rem;
  border: 1px solid #E8EAED;

  .code-block-header {
    background-color: #e9ecef;
    border-bottom: 1px solid #E8EAED;
    font-size: 0.9125rem;
    font-weight: 500;
    padding: 0.75rem 0.5rem 0.67rem 1rem;
  }

  .code-block-body {
    position: relative;
    background-color: #F8F9FA;

    &:hover, &:focus-within {
      .code-block-language {
        opacity: 0;
      }

      .code-copy-button {
        opacity: 1;
      }
    }

    &.tag-good, &.tag-passes-sa, &.tag-runtime-success {
      background-color: #f1fbf9;
    }

    &.tag-bad, &.tag-fails-sa, &.tag-runtime-fail {
      background-color: #fef3f6;
    }
  }

  &:has(:focus-visible) {
    border-color: #1389FD;
  }

  pre {
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 0;

    code {
      display: block;
      width: 100%;
    }

    &:not([lang="console"]) {
      line-height: 1.8;
    }
  }
}
