@use 'sass:color';

body {
  --md-sys-color-primary: rgb(0 63 139);
  --md-sys-color-surface-tint: rgb(25 91 185);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(38 99 193);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(77 94 132);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(199 215 255);
  --md-sys-color-on-secondary-container: rgb(47 65 100);
  --md-sys-color-tertiary: rgb(97 87 143);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(206 194 255);
  --md-sys-color-on-tertiary-container: rgb(58 48 102);
  --md-sys-color-error: rgb(155 30 25);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 68 57);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(249 249 255);
  --md-sys-color-on-background: rgb(25 27 33);
  --md-sys-color-surface: rgb(249 249 255);
  --md-sys-color-on-surface: rgb(25 27 33);
  --md-sys-color-surface-variant: rgb(223 226 241);
  --md-sys-color-on-surface-variant: rgb(66 71 82);
  --md-sys-color-outline: rgb(115 119 132);
  --md-sys-color-outline-variant: rgb(194 198 212);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(46 48 55);
  --md-sys-color-inverse-on-surface: rgb(240 240 249);
  --md-sys-color-inverse-primary: rgb(173 198 255);
  --md-sys-color-primary-fixed: rgb(216 226 255);
  --md-sys-color-on-primary-fixed: rgb(0 26 65);
  --md-sys-color-primary-fixed-dim: rgb(173 198 255);
  --md-sys-color-on-primary-fixed-variant: rgb(0 68 148);
  --md-sys-color-secondary-fixed: rgb(216 226 255);
  --md-sys-color-on-secondary-fixed: rgb(5 27 61);
  --md-sys-color-secondary-fixed-dim: rgb(180 198 241);
  --md-sys-color-on-secondary-fixed-variant: rgb(53 70 107);
  --md-sys-color-tertiary-fixed: rgb(230 222 255);
  --md-sys-color-on-tertiary-fixed: rgb(29 17 72);
  --md-sys-color-tertiary-fixed-dim: rgb(202 190 254);
  --md-sys-color-on-tertiary-fixed-variant: rgb(73 63 118);
  --md-sys-color-surface-dim: rgb(217 217 226);
  --md-sys-color-surface-bright: rgb(249 249 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(243 243 252);
  --md-sys-color-surface-container: rgb(237 237 246);
  --md-sys-color-surface-container-high: rgb(231 231 240);
  --md-sys-color-surface-container-highest: rgb(225 226 234);

  &.dark-mode {
    --md-sys-color-primary: rgb(173 198 255);
    --md-sys-color-surface-tint: rgb(173 198 255);
    --md-sys-color-on-primary: rgb(0 46 105);
    --md-sys-color-primary-container: rgb(0 73 159);
    --md-sys-color-on-primary-container: rgb(227 234 255);
    --md-sys-color-secondary: rgb(180 198 241);
    --md-sys-color-on-secondary: rgb(29 48 83);
    --md-sys-color-secondary-container: rgb(43 61 96);
    --md-sys-color-on-secondary-container: rgb(191 209 252);
    --md-sys-color-tertiary: rgb(235 227 255);
    --md-sys-color-on-tertiary: rgb(50 40 94);
    --md-sys-color-tertiary-container: rgb(193 181 245);
    --md-sys-color-on-tertiary-container: rgb(49 39 93);
    --md-sys-color-error: rgb(255 180 170);
    --md-sys-color-on-error: rgb(105 0 4);
    --md-sys-color-error-container: rgb(207 68 57);
    --md-sys-color-on-error-container: rgb(255 255 255);
    --md-sys-color-background: rgb(17 19 25);
    --md-sys-color-on-background: rgb(225 226 234);
    --md-sys-color-surface: rgb(17 19 25);
    --md-sys-color-on-surface: rgb(225 226 234);
    --md-sys-color-surface-variant: rgb(66 71 82);
    --md-sys-color-on-surface-variant: rgb(194 198 212);
    --md-sys-color-outline: rgb(140 144 158);
    --md-sys-color-outline-variant: rgb(66 71 82);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(225 226 234);
    --md-sys-color-inverse-on-surface: rgb(46 48 55);
    --md-sys-color-inverse-primary: rgb(25 91 185);
    --md-sys-color-primary-fixed: rgb(216 226 255);
    --md-sys-color-on-primary-fixed: rgb(0 26 65);
    --md-sys-color-primary-fixed-dim: rgb(173 198 255);
    --md-sys-color-on-primary-fixed-variant: rgb(0 68 148);
    --md-sys-color-secondary-fixed: rgb(216 226 255);
    --md-sys-color-on-secondary-fixed: rgb(5 27 61);
    --md-sys-color-secondary-fixed-dim: rgb(180 198 241);
    --md-sys-color-on-secondary-fixed-variant: rgb(53 70 107);
    --md-sys-color-tertiary-fixed: rgb(230 222 255);
    --md-sys-color-on-tertiary-fixed: rgb(29 17 72);
    --md-sys-color-tertiary-fixed-dim: rgb(202 190 254);
    --md-sys-color-on-tertiary-fixed-variant: rgb(73 63 118);
    --md-sys-color-surface-dim: rgb(17 19 25);
    --md-sys-color-surface-bright: rgb(55 57 64);
    --md-sys-color-surface-container-lowest: rgb(12 14 20);
    --md-sys-color-surface-container-low: rgb(25 27 33);
    --md-sys-color-surface-container: rgb(29 32 38);
    --md-sys-color-surface-container-high: rgb(40 42 48);
    --md-sys-color-surface-container-highest: rgb(50 53 59);
  }
}

html {
  margin: 0;
  padding: 0;
  font-family: 'Google Sans Text', 'Roboto', ui-sans, sans-serif;
}

body {
  margin: 0;

  display: flex;
  flex-direction: column;
  height: 100vh;

  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-surface);
}

img, iframe, svg {
  max-width: 100%;
  object-fit: contain;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

a, button {
  text-decoration: none;
}

a {
  color: var(--md-sys-color-primary);
  border-radius: 0.375rem;

  &:hover {
    color: var(--md-sys-color-primary);
    text-decoration: underline;
  }

  &:focus {
    // TODO(parlough): Focus circle?
  }

  &.btn {
    font-weight: 500;
    padding: 0.5rem;
    background-color: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
    text-decoration: none;

    &:hover {
      // TODO(parlough):
    }

    &:focus {
      // TODO(parlough):
    }
  }
}

* {
  box-sizing: border-box;
  border-width: 0;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre, ol, ul {
  margin: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

.material-symbols, .material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;

  font-variation-settings:
          'FILL' 0,
          'wght' 500,
          'GRAD' 0,
          'opsz' 48
}

.material-symbols, .material-symbols-outlined.ms-filled {
  font-variation-settings: 'FILL' 1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Google Sans', 'Roboto', ui-sans, sans-serif;
  font-weight: 400;
}

pre, code {
  font-family: 'Google Sans Mono', ui-monospace, monospace;
}

*:not(pre) > code {
  font-size: 0.875em;
  line-height: 1.25em;
  padding: 0.0625rem 0.25rem;
  background-color: var(--md-sys-color-surface-container-high);

  border: 1px solid rgb(54 54 54 / 0.1);
  border-radius: 0.25rem;
  color: #11796d;
}

*:focus-visible {
  outline: 2px solid #027DFD;
}

#sidenav {
  max-height: calc(100vh - 80px - 4rem);
}

#site-header {
  display: grid;
  grid-template-columns:
          minmax(max-content, 1fr)
          minmax(max-content, 3fr)
          minmax(max-content, 1fr);
  background-color: var(--md-sys-color-surface-container-low);
  column-gap: 1rem;
  align-items: center;
  min-height: 4rem;
  max-height: 5rem;
  top: 0;
  position: sticky;
  z-index: 10;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

#header-leading {
  display: flex;
  flex-direction: row;
  justify-self: start;
  align-items: center;
  user-select: none;

  font-variant-ligatures: none;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-family: 'Google Sans', ui-sans, sans-serif;

  .flutter-logo > span {
    @media(max-width: 768px) {
      display: none;
    }
  }
}

.flutter-logo {
  padding: 0.25rem;
  border-radius: 0.375rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  cursor: pointer;

  font-variant-ligatures: none;
  color: var(--md-sys-color-on-surface-variant);
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-family: 'Google Sans', ui-sans, sans-serif;

  > img {
    height: 2.5rem;
    margin-right: 0.75rem;
  }
}

#docs-button {
  padding: 0.25rem;
  border-radius: 0.375rem;
}

#menu-button {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 4rem;
  height: 100%;

  > button {
    padding: 0.5rem;
  }
}

#header-trailing {
  justify-self: end;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;

  margin-left: 1rem;
  margin-right: 1rem;

  #open-search {
    @media(min-width: 577px) {
      display: none;
    }
  }
}

#header-center {
  display: block;
  justify-self: center;
  max-width: 36rem;
  width: 100%;

  .header-button > span {
    font-size: 1.5rem;
  }

  search {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 2.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 0.75rem;
    padding: 0.5rem;

    font-family: 'Google Sans';
    background-color: var(--md-sys-color-surface-container-high);

    &:focus-within {
      outline: 2px solid #027DFD;
    }

    input {
      border-radius: 0.375rem;
      caret-color: #027DFD;
      padding: 0.5rem;
      background: none;
      text-overflow: ellipsis;
      width: 100%;
      overscroll-behavior: contain;

      &:focus {
        outline: none;
      }
    }

    @media(max-width: 576px) {
      display: none;
    }
  }
}

.header-button {
  border-radius: 0.375rem;

  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  background: none;

  > span {
    font-size: 1.75rem;
  }

  &:hover {
    color: #0468d7;
  }

  &:focus {

  }

  &:active {
    color: #03448c;
  }
}

#site-below-header {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 100%;
  overflow-y: auto;
}

#site-main-row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem;

  @media(max-width: 576px) {
    margin: 0;
    border-radius: 0;
  }
}

#content-and-toc {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.invisible-flex-item {
  @media(max-width: 960px) {
    display: none;
  }
}

#side-menu {
  position: sticky;
  top: 1rem;
  max-height: 80vh;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  height: fit-content;
  min-width: 11rem;
  max-width: 11rem;
  overflow-y: scroll;
  font-family: 'Google Sans';

  @media(max-width: 960px) {
    display: none;
  }

  nav {
    header {
      font-size: 1rem;
      margin-block-end: 0.25rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.25rem;

      span.material-symbols {
        color: var(--md-sys-color-primary-container);
        user-select: none;
      }
    }

    ul {
      padding: 0;
      list-style: none;
      margin: 0 0 0 10px;
      font-size: 0.875rem;

      li {
        border-inline-start: 1px solid transparent;

        --toc-indent: 0;

        &.level-2 {
          --toc-indent: 1;
        }

        &.level-3 {
          --toc-indent: 2;
        }

        a {
          color: var(--md-sys-color-on-surface-variant);
          border-radius: 0;
          border-inline-start: 2px solid lightgray;
          display: block;
          padding: 0.3rem 1rem;
          padding-left: calc(1rem + var(--toc-indent) * 0.5rem);
          text-decoration: none;
        }

        &.active {
          border-inline-start: 1px solid #1967d2;

          a {
            border-inline-start: 2px solid #1967d2;
            color: #1967d2;
          }
        }
      }
    }
  }
}

#site-banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem;
  text-align: center;
  background-color: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-on-secondary-container);

  p {
    overflow-wrap: anywhere;
    word-break: normal;
    margin: 0;
  }
}

#site-primary {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin: 0;
  max-width: 52rem;

  background-color: var(--md-sys-color-surface-container-low);
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);

  @media(max-width: 576px) {
    border-radius: 0;
  }
}

main {
  p, pre, aside, iframe, img, .card-grid {
    margin-bottom: 1rem;
  }
}

#site-content {
  overflow-x: hidden;
  width: 100%;

  p, li, span {
    line-height: 1.5rem;
  }

  ol, ul {
    margin-bottom: 1rem;
    padding-left: 2rem;
  }

  > * {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .header-wrapper {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;

    .heading-link {
      margin-left: .4rem;
      line-height: 1;
      transition: all .15s ease-in-out;
      overflow: hidden;
      color: #4a4a4a;
      opacity: 0;
      text-decoration: none;
    }

    &:hover .heading-link {
      opacity: 1;
    }

    h2 {
      font-size: 2.25rem;
      text-wrap: balance;

      & + .heading-link {
        font-size: 1.75rem;
      }
    }

    h3 {
      font-size: 1.875rem;

      & + .heading-link {
        font-size: 1.375rem;
      }
    }

    h4 {
      font-size: 1.5rem;

      & + .heading-link {
        font-size: 1.25rem;
      }
    }

    h5 {
      font-size: 1.25rem;

      & + .heading-link {
        font-size: 1rem;
      }
    }
  }

  nav.breadcrumbs {
    align-items: center;
    margin-bottom: 1rem;
  }

  ol.breadcrumb-list {
    background-color: var(--md-sys-color-surface-container-high);
    border-radius: 0.375rem;
    padding: 0.375rem;

    align-items: center;
    list-style: none;

    font-family: 'Google Sans', 'Roboto', ui-sans, sans-serif;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    li.breadcrumb-item {
      display: flex;
      flex-direction: row;
      align-items: center;

      & a {
        padding: 0.125rem;
        border-radius: 0.125rem;
      }

      &.active a {
        color: var(--md-sys-color-on-surface);
        cursor: default;
        text-decoration: none;
      }
    }

    .child-icon {
      user-select: none;
    }
  }

  ul.nav-tabs {
    list-style: none;

    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 0.5rem;
    border-radius: 0.375rem;
    background-color: var(--md-sys-color-surface-container-high);
    color: var(--md-sys-color-on-surface);
    gap: 1rem;

    li {
      padding: 0.375rem;
      border-radius: 0.375rem;

      &:hover {
        // TODO(parlough): Improve
        background-color: var(--md-sys-color-surface-container-highest);
      }

      &.active {
        background-color: var(--md-sys-color-primary-container);
        color: var(--md-sys-color-on-primary-container);

        &:hover {
          // TODO(parlough): Darken??
          // background-color: var(--md-sys-color-on-primary);
        }
      }
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }

}

#sidenav {
  margin: 0;
  overflow-y: auto;
  min-width: 14rem;
  width: 14rem;
  font-family: 'Google Sans';

  @media(max-width: 768px) {
    display: none;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .sidenav-divider {
    background-color: var(--md-sys-color-outline-variant);
    border-radius: 0.5rem;
    width: 100%;
    height: 0.125rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }

  li {
    margin: 0;
    padding: 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 100%;
    user-select: none;

    a {
      padding: 0.25rem;
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;

      border-radius: 0.375rem;

      display: flex;
      flex-direction: row;
      align-items: center;

      cursor: pointer;

      color: rgb(54, 54, 54);
      text-decoration: none;

      .child-active {

      }
    }

    .sidenav-expander {
      display: flex;
      margin-left: auto;
      align-items: center;
      // TODO: transform and transition animation
    }
  }

  > ul {
    ul {
      margin-left: 0.5rem;
    }
  }
}

#site-footer {
  position: relative;
  background-color: var(--md-sys-color-surface-container-low);
  padding: 1rem;
  border-radius: 0.375rem;
  margin: 0 1rem 1rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  font-size: 14px;
  font-family: 'Google Sans';

  @media(max-width: 576px) {
    margin: 1rem 0 0;
    border-radius: 0;
  }

  > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    width: 100%;

    @media(max-width: 768px) {
      flex-direction: column;
      text-align: center;
    }
  }

  .footer-main {
    margin-bottom: 1rem;
    align-items: center;
  }

  .footer-tray {
    border-top: 1px solid var(--md-sys-color-outline-variant);
    padding-top: 1.25rem;
    width: 100%;

    .footer-licenses {
      width: 70%;

      @media(max-width: 768px) {
        width: 100%;
      }
    }

    a {
      color: var(--md-sys-color-on-surface-variant);

      &:hover {
        color: #0468d7;
      }
    }
  }

  .footer-social-links {
    a {
      &:not(:first-child) {
        margin-left: 1rem;
      }

      svg {
        height: 2rem;
        width: 2rem;
      }

      color: var(--md-sys-color-on-surface-variant);

      &:hover {
        color: #0468d7;
        text-decoration: none;
      }

      &:focus {

      }

      &:active {
        color: #03448c;
      }
    }

    @media(max-width: 768px) {
      margin-top: 1rem;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline;
      margin-left: 1rem;
    }

    @media(max-width: 768px) {
      margin-top: .75rem;

      li:first-child {
        margin-left: 0;
      }
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

h2, h3, h4, h5, h6 {
  scroll-margin-top: 1rem;
  max-width: 90%;
}

h1 {
  font-size: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-wrap: balance;
}


aside.alert {
  padding: 1.125rem;

  //@media(max-width: 576px) {
  //  margin-left: 0;
  //  margin-right: 0;
  //}

  .alert-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-family: "Google Sans", "Roboto", ui-sans, sans-serif;
    font-size: 1.125rem;
    font-weight: 500;

    .material-symbols {
      font-size: 1.25em;
      user-select: none;
    }
  }

  .alert-content {
    margin-top: 0.5rem;

    > *:last-child {
      margin-bottom: 0;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }

  &.alert-info {
    background-color: #e7f8ff;
  }

  &.alert-secondary {
    background-color: #e8eaed;
  }
}

pre {
  overflow: auto;
  margin-bottom: 1rem;
  font-size: 0.9125rem;
  font-weight: 400;
  padding: 1.25rem;

  a {
    font-family: inherit;
    font-weight: inherit;
  }

  .highlight {
    background: #FFF59C;
    padding: 0.1em;
  }

  .highlight-diagnostics & {
    .highlight {
      border-bottom: 2px #E64637 dashed;
      background: inherit;
      padding: 0;
    }
  }

  &:focus {
    outline: none;
  }

  span.line {
    display: inline-block;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    min-width: 100%;
    border-left: 2px solid transparent;

    &.highlighted-line {
      background: color.change(#0468D7, $alpha: 0.05);
      border-left-color: #0468D7;
    }
  }

  &.show-line-numbers code {
    span.line {
      padding-left: 0.5rem;

      &[data-line]::before {
        display: inline-block;
        content: attr(data-line) "";
        width: 2em;
        margin-right: 0.5rem;
        text-align: right;
        color: #8d9399;
      }
    }
  }
}

.code-copy-button {
  position: absolute;
  top: 6px;
  right: 6px;
  z-index: 10;

  width: 2rem;
  height: 2rem;
  padding: 0;

  font: 24px/1 'Material Symbols Outlined';

  appearance: none;
  border: none;
  color: #6E7274;
  background: none;
  opacity: 0;
  transition: opacity 0.4s;

  &:hover, &:focus {
    color: #0468D7;
    opacity: 1;
  }

  &:active {
    color: #043875;
  }
}

.code-block-language {
  font-family: 'Google Sans Mono', 'Roboto Mono', monospace;
  user-select: none;
  font-size: 0.8125rem;
  color: #6E7274;
  opacity: 1;
  transition: opacity 0.25s;

  position: absolute;
  top: 3px;
  right: 6px;
  z-index: 5;

  .highlight-languages .language-dart & {
    color: #0468D7;
  }

  .highlight-languages .language-js & {
    color: #f1a85a;
  }

  .highlight-languages .language-swift & {
    color: #f05137;
  }

  .highlight-languages :not(.has-tag) & {
    font-size: 0.875rem;
    left: 6px;
    right: unset;
  }
}

.code-block-tag {
  font-family: 'Google Sans Mono', 'Roboto Mono', monospace;
  font-size: 0.8125rem;
  font-weight: 500;
  position: absolute;
  top: 3px;
  left: 6px;

  .tag-good &, .tag-passes-sa &, .tag-runtime-success & {
    color: #155723;
  }

  .tag-bad &, .tag-fails-sa &, .tag-runtime-fail & {
    color: #cb1425;
  }
}

.code-block-wrapper {
  margin-bottom: 1rem;
  border: 1px solid var(--md-sys-color-outline-variant);

  .code-block-header {
    background-color: var(--md-sys-color-surface-container);
    border-bottom: 1px solid var(--md-sys-color-outline-variant);
    font-size: 0.9125rem;
    font-weight: 500;
    padding: 0.75rem 0.5rem 0.67rem 1rem;
  }

  .code-block-body {
    position: relative;
    background-color: var(--md-sys-color-surface-container-low);

    &:hover, &:focus-within {
      .code-block-language {
        opacity: 0;
      }

      .code-copy-button {
        opacity: 1;
      }
    }

    &.tag-good, &.tag-passes-sa, &.tag-runtime-success {
      background-color: #f1fbf9;
    }

    &.tag-bad, &.tag-fails-sa, &.tag-runtime-fail {
      background-color: #fef3f6;
    }
  }

  &:has(:focus-visible) {
    border-color: #1389FD;
  }

  pre {
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 0;

    code {
      display: block;
      width: 100%;
    }

    &:not([lang="console"]) {
      line-height: 1.8;
    }
  }
}

dl {
  dt {
    font-weight: 500;
  }

  dd {
    margin-bottom: 1rem;
  }
}

#page-github-links {
  font-style: italic;
  font-size: 0.75rem;
}

iframe {
  max-width: 100%;
  &[src*="youtube.com"] {
    aspect-ratio: auto;
    border-radius: 0.75rem;
  }
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  gap: 1rem;

  &.wide {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));;
  }

  &.narrow {
    grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));;
  }

  .card {
    overflow: hidden;
  }

  .card-body img {
    width: 4.5rem;
    height: 4.5rem;
  }

  .card-image-holder {
    // TODO(parlough): Support the Material 3 cards
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12rem;

    img {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      z-index: 1;
    }

    svg {
      height: 100%;
      width: 100%;
    }
  }

  .card {
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
    border: 1px solid var(--md-sys-color-outline-variant);
    padding: 0.75rem;
    border-radius: 0.375rem;

    &:hover {
      background-color: rgba(var(--md-sys-color-on-surface), 0.08);
      text-decoration: none;
    }

    &:focus {
      background-color: rgba(var(--md-sys-color-on-surface), 0.16);
    }

    .card-body {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
    }

    .card-text {
      color: var(--md-sys-color-on-surface-variant);

      &:last-child {
        margin-bottom: 0;
      }
    }

    .card-title {
      font-family: "Google Sans", "Google Sans Text", "Roboto", sans-serif;
      font-size: 1.25rem;
      color: var(--md-sys-color-primary);
    }
  }
}

.video-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  .video-intro {
    font-weight: 500;
    padding: 0 0.75rem;
    text-wrap: pretty;
  }
}
